---
import { getCollection } from "astro:content";
import { works } from "src/works.json";

import Page from "@layouts/Page.astro";
import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<Page
  title="Jecktor's website"
  description="Formerly known as Jecktor's journal."
>
  <section>
    <div
      class="flex flex-wrap justify-center items-center gap-6 mb-6 md:justify-start"
    >
      <div
        class="w-16 h-16 border-2 border-base-100 rounded-full overflow-hidden"
      >
        <img
          class="w-full h-full object-cover"
          src="/assets/jk.avif"
          alt=""
          aria-hidden="true"
        />
      </div>
      <div>
        <h2 class="text-xl font-bold">Héctor Loyo</h2>
        <p class="!mb-0 text-base-200">
          Software Developer / Digital Craftsman
        </p>
      </div>
    </div>
    <p>
      I'm a software developer who mostly works with web technologies. I like
      fountain pens, tinkering with old hardware and anything audio-related.
      Sometimes I upset my ISP by pretending to be a sysadmin.
    </p>
    <p>
      Contact me at
      <a href="mailto:contact@jecktor.com">contact@jecktor.com</a>.
    </p>
  </section>
  <section>
    <div class="flex items-baseline gap-2 mb-3">
      <h2 class="text-xl font-bold">Works</h2>
      <a class="text-sm text-base-200" href="/works">
        <span class="italic">See all</span> &#8594;
      </a>
    </div>
    <div class="md:grid grid-cols-2 gap-x-8 mb-3">
      {
        works.map((project) => (
          <a
            href={project.link}
            target="_blank"
            rel="noopener noreferrer"
            class="block mb-6 !no-underline last:odd:col-span-2"
          >
            <fieldset class="h-full border border-base-300 px-4">
              <legend class="px-2 uppercase bold tracking-widest">
                {project.name}
              </legend>
              <p class="!mb-3 px-2 text-base-200">{project.desc}</p>
            </fieldset>
          </a>
        ))
      }
    </div>
  </section>
  <section>
    <div class="flex items-baseline gap-2 mb-3">
      <h2 class="text-xl font-bold">Posts</h2>
      <a class="text-sm text-base-200" href="/posts">
        <span class="italic">See all</span> &#8594;
      </a>
    </div>
    <ul class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <li class="flex flex-wrap justify-between items-center md:flex-nowrap md:whitespace-nowrap">
            <a
              href={`/posts/${post.slug}`}
              class="mr-4 overflow-hidden text-ellipsis"
            >
              {post.data.title}
            </a>
            <span>
              <FormattedDate date={post.data.pubDate} />
            </span>
          </li>
        ))
      }
    </ul>
  </section>
</Page>
