---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'entries'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <Body>
    <Header />
    <main class="pt-20">
      <Content>
        <h1 class="title">{title}</h1>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr />
        <slot />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
